*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('image/regarde_note1.jpg'); 
    background-repeat: no-repeat;
    background-size:1370px 700px ;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}
h1 span {
    position: relative;
}
.container-btns {
    position: relative;
    top: 50px;
}
.btn1 {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn1:nth-child(1){
    margin-right: 30px;
}
.btn1:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}
/* .l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
} */

.logo {
    position: absolute;
    left: 2.9%;
    top: 4%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}