td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    font-size: 15px;
}
td {
    text-align: center;
    background-color: #f7e2b5;
    font-size: 15px;
}
tr:nth-child(even) {
    background-color: #eee;
}
th[scope="col"] {
    background-color: #fcd37d;
    color: #fff;
}
th[scope="row"] {
    background-color: #d7d9f2;
}
caption {
    padding: 10px;
    caption-side: bottom;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: 25px Karla,sans-serif;
    font-size: 1rem;
}